<%= form_for @school_class do |f| %>
  <p><%= f.label "Class Title" %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label "Room Number" %></p>
  <p><%= f.text_field :room_number %></p>
  <%= f.submit "Update School class" %>
  <% end %>